<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css" crossorigin="anonymous">
    <title>Constru Tec</title>
<body>

    <header th:replace="fragments/header :: cabecalho"></header>

</head>

    <h1>Nova Obra</h1>
    <form th:action="@{/obras/salvar}" th:object="${obra}" method="post">
        <label>Cliente:
            <select th:field="*{cliente}">
                <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}"></option>
            </select>
        </label>
        <label>Data Início: <input type="date" th:field="*{dataInicio}" /></label><br>
        <label>Data Fim: <input type="date" th:field="*{dataFim}" /></label><br>
        <button type="submit">Salvar</button>
    </form>

<footer th:replace="fragments/footer :: rodape"></footer>
<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="/vendor/bootstrap/jquery-3.1.0.js"></script>
<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
<script src="/vendor/bootstrap/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
		//Ocultar alert
		setTimeout(function(){
			$(".alert").fadeOut("slow", function(){
				$(this).alert('close');
			});
		}, 5000);

	});
</script>

</body>
</html>

